
.wrapper{
  display: flex;
  flex-flow: column;
}

.title{
  width: 35%;
  min-width: 500px;
  max-width: 750px;
  align-self: center;
  border-radius: 4px;
  border: 1px solid black;
  height: 30px;
  font-size: 16px;
  padding: 5px;
  box-sizing: border-box;
}
