@import url('https://fonts.googleapis.com/css?family=Roboto');

.reactions-wrapper{
  display: flex;
  flex-flow: column;
  min-width: 520px;
  flex-flow: row;
  justify-content: center;
  margin-top: 5%;
}

.reactions-wrapper__emoji{
  cursor: pointer;
  border: 1px solid gainsboro;
  border-radius: 20px;
  padding: 5px;
  font-size: 20px;
  box-sizing: border-box;
}

.reactions-wrapper__emoji input{
  display: none;
}

.reactions-wrapper__title{
  align-self:center;  
  font-family: 'Roboto', 'Arial', sans-serif;
}

.reactions-wrapper__emoji{
  margin: 0 10px;
}

.reactions-wrapper__emoji:hover{
  box-shadow: 1px 1px 10px 0px gold;
}

.reactions-wrapper__counter{
  font-family: 'Roboto', 'Arial', sans-serif;
}

.reactions-wrapper__emoji--picked{
  background-color: rgba(255, 215, 0, 0.5);
}
